@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #ffffff;
  overflow: hidden;
}
.container {
  max-width: 800px;
  margin: 0 auto;
}
.header {
  background-color: #3498db;
  color: #fff;
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-size: 24px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.text-editor {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  margin-top: 20px;
}
.menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
  background-color: #3498db;
}
button {
  width: 30px;
  height: 30px;
  background-color: #fff;
  border: none;
  color: #3498db;
  font-size: large;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
button:hover {
  background-color: #3498db;
  color: #fff;
  transition: background-color 0.3s ease;
}

.text-transform button {
  width: 100px; /* Increase the button width */
  height: 40px; /* Increase the button height */
}

.clear-text button {
  width: 100px;
  height: 40px;
}

.font-size input {
  border: 1px solid #3498db;
  outline: none;
  border-radius: 5px;
  width: 60px;
  height: 30px;
  text-align: center;
  padding: 5px;
  font-family: "Roboto", sans-serif;
}
.font-families select {
  text-align: center;
  width: 150px;
  height: 30px;
  font-family: "Roboto", sans-serif;
  border: 1px solid #3498db;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.text-area textarea {
  resize: none;
  width: calc(100% - 20px);
  height: 300px;
  margin: 10px;
  font-family: "Roboto", sans-serif;
  padding: 10px;
  border: 1px solid #3498db;
  border-radius: 5px;
  outline: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  color: #333;
}
